.actorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.actorItem {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  background-color: black;
  color: #ffffff;
  flex-basis: calc(20% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

h2 {
  color: #AC92C6;
}

.actorImage {
  width: 6rem;
  height: auto;
  object-fit: cover;
}
