@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.title {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-size: 4rem;
  color: #AC92C6;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.searchInput {
  margin-right: 1rem;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  width: 20rem;
}

.searchButton {
  padding: 10px;
  font-size: 1rem;
  background-color: #6a0dad;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categoryButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.categoryButtons button {
  padding: 0.3rem;
  font-size: 1rem;
  background-color: #6a0dad;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categoryButtons button:hover {
  color: black;
  background-color: #AC92C6;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movieItem {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.7rem;
  text-align: center;
  background-color: black;
  box-shadow: 4px 4px 8px rgba(255, 111, 97, 0.5);

  color: #ffffff;
}

.moviePoster {
  width: 12.5rem;
  height: auto;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.detailsButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  background-color: #6a0dad;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 7rem;
}

.detailsButton:hover {
  color: black;
  background-color: #AC92C6;
}