.navbar {
  background-color: #615d5d;
  padding: 10px;
  text-align: center;
}

.navLink {
  color: #ba8aea;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

.navLink:hover {
  text-decoration: underline;
}
